:root {
  --fg-color: black;
  --bg-color: white;
  --header-color: #dddddd;
  --selected-color: #aaaaaa;
  --error-color: red;
  --disabled-color: #909090;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-variant-ligatures: none;
  color: inherit;
  background: inherit;
  border-color: inherit;
  border-radius: 0;
  line-height: inherit;
  touch-action: manipulation;
  appearance: none;
  /* Prevents scrolling from triggering pull-down refresh on mobile */
  overscroll-behavior: none;
}

*:focus {
  outline: none;
}

html,
body {
  font-family: sans-serif;
  color: var(--fg-color);
  accent-color: var(--fg-color);
  caret-color: var(--fg-color);
  background: var(--bg-color);
}

/* See index.html and App.svelte */
/* body {} */

button {
  user-select: none;
  -webkit-user-select: none;
}

ul {
  margin-left: 1em;
}

input[type="checkbox"] {
  appearance: auto;
}

textarea,
pre {
  overscroll-behavior: auto;
}
