name: Test

on:
  workflow_dispatch:
  pull_request:

defaults:
  run:
    shell: bash -euxo pipefail {0}

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          npm ci
      - name: Lint
        run: |
          npx prettier --check .
      - name: Test
        run: |
          make test
